a {
	text-decoration: none;
}

a:link,
a:visited {
	color: rgb(85, 85, 85);
}

.agreement-content {
	border: 1px solid rgb(216, 216, 216);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 28px;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

.agreement-content h2,
form h2,
.list h2 {
	background-color: rgb(224, 224, 224);
	background-image: -moz-linear-gradient(rgb(250, 250, 250), rgb(224, 224, 224));
	background-image: -webkit-linear-gradient(rgb(250, 250, 250), rgb(224, 224, 224));
	background-image: linear-gradient(rgb(250, 250, 250), rgb(224, 224, 224));
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: rgb(85, 85, 85);
	margin: 0;
	padding: 7px 14px;
}

.agreement-content p {
	padding-left: 14px;
	padding-right: 14px;
}

body {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
}

button {
	background-color: rgb(0, 120, 110);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 14px;
	margin-top: 30px;
	padding: 7px 14px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	width: 980px;
}

.content {
	margin-left: 14px;
	overflow: hidden;
}

.content h2 {
	color: rgb(85, 85, 85);
	margin: 0;
	padding-top: 8px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 14px;
}

form {
	border: 1px solid rgb(216, 216, 216);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

form * {
	display: block;
}

h1 {
	color: rgb(85, 85, 85);
}

.header {
	background-color: rgb(0, 120, 110);
	border-bottom: 2px solid rgb(0, 96, 88);
	height: 40px;
	margin-bottom: 20px;
}

input[type="text"] {
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	font-size: 14px;
	width: 500px;
	height: 34px;
	margin-bottom: 20px;
}

select {
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	font-size: 14px;
	height: 34px;
	margin-bottom: 20px;
}

textarea {
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px;
	font-size: 14px;
	width: 500px;
	height: 200px;
	margin-bottom: 20px;
}

label {
	margin-bottom: 5px;
}

.linked-repository {
	margin-bottom: 14px;
}

.linked-repository:last-child {
	margin-bottom: 0;
}

.list {
	border: 1px solid rgb(216, 216, 216);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	margin-right: 14px;
}

.list ul {
	list-style: none;
	margin: 0;
	padding: 14px;
}

#logo {
	float: left;
}

.name {
	font-weight: bold;
	line-height: 16px;
	color: rgb(255, 255, 255);
	white-space: nowrap;
}

.url {
	font-size: 12px;
	color: rgb(65, 131, 196);
}

#user-links {
	float: right;
	margin: 7px 0 0;
	padding: 0;
	list-style: none;
}

#user-links li {
	position: relative;
	float: left;
	margin-left: 5px;
}
